<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <p>Hello and Thanks for looking at my project</p>
        <p> 7 or 10 digit phone number can be entered (10 digit shown below):</p>
        <p>XXXXXXXXXX</p>
        <p>XXX XXX XXXX</p>
        <p>XXX-XXX-XXXX</p>
        <p>XXX.XXX.XXXX</p>
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Abdul Akibu</h3>
      </div>
    </div>
  </div>
</div>
